body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    padding: 16px
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
    font-family: 'Roboto', sans-serif;
    background-color: olivedrab;
    font-weight: 1000;
}

img {
    height: 200px;
}

nav {
    border: 1px solid black;
    padding: 16px;
    background-color: olivedrab;

}

a:hover {
    color: green;
}

.display{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
}

a {
    color: royalblue;
}

#main_page {
    color:antiquewhite
}

.my-table tr:nth-child(even) {
    background-color: lightgray;
}
